  
  .App-logo {
    height: 40vmin;
    /* pointer-events: none; */
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo:active {
      animation: App-logo-spin infinite 20s linear;
    } */
  /* } */

  .App-logo-idle {
    color: #D2D2D2;
  }

  .App-logo-light {
    /* animation: App-logo-spin infinite 3s linear; */
    filter: invert(74%) saturate(1349%) hue-rotate(0deg) brightness(191%) contrast(103%);
  }

  .App-logo-resp-gen {
      animation: App-logo-spin infinite 3s linear;
  }

  body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
  }

  .FBXContainer{
    width: 100vw;
    height: 100vh;
  }

  div {
    height: 100%;
    width: 100%;
    padding: 0px;
  }
  
  html {
  margin: 0;
  padding: 0;
  display: contents;
  }

  .App {
    background: linear-gradient(-45deg, #0F2027, #20002c, #2D2D20,  #FFFFFF); 
    background-size: 400% 400%;
    min-height: 100vh;
    display: initial;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    animation: bg-gradient 12s ease infinite;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .App-logo {
    color:white;
    /* filter: invert(74%) sepia(20%) saturate(1349%) hue-rotate(162deg) brightness(91%) contrast(103%); */
  }

  /* button {
    background: transparent;
    opacity: 0;
    /* border-radius: 999px; */
    /* box-shadow: #5E5DF0 0 10px 20px -10px; */
    /* box-sizing: border-box; */
    /* color: #FFFFFF; */
    /* cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  } */

  #transcript {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    overflow: scroll;
    margin-bottom: 20px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes bg-gradient {
    0% {
      background-position: 50% 50%;
    }
    20% {
      background-position: 100% 0%;
    }
    40% {
      background-position: 50% 50%;
    }
    60% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
