{% extends 'base.html' %}
{% block content %}
<div class="formDiv login">
  <h1>Create Account</h1>
  <form class="form-style-4" method="POST">
      <label for="initial_deposit"><span>Initial Deposit</span>
        <input type="text" name="initial_deposit" id="initial_deposit" placeholder="" required/>
      </label>
    <div class="btn-block">
      <button type="submit" value="Register">Submit</button>
    </div>
  </form>
</div>
<div class="command">
    <a href="{{ url_for('index')}}">Return</a>
</div>
{% endblock %}