{% extends 'base.html' %}
{% block content %}
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th class="header">ID</th>
            <th class="header">Balance</th>
            <th class="header"></th>
            <th class="header"></th>
            <th class="header"></th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
        <tr>
           <th> {{ account.id }} </th>
           <td> {{ account.balance }} </td>
            <td>
                <a href="{{ url_for('account.remove',id=account.id) }}">Delete Account</a>
            </td>
            <td>
                <a href="{{ url_for('transaction.deposit',id=account.id) }}">Deposit</a>
            </td>
            <td>
                <a href="{{ url_for('transaction.withdraw',id=account.id) }}">Withdraw</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="command">
    <a href="{{ url_for('account.create')}}">Create Account</a>
    <a href="{{ url_for('auth.logout')}}">Log Out</a>
</div>
{% endblock %}