{% extends 'base.html' %}
{% block content %}
    <div class="formDiv">
      <h1>Registration</h1>
      <form class="form-style-4" method="POST">
        <label for="username"><span>User Name</span>
        <input type="text" name="username" id="username" placeholder="Username" required/>
        </label>

        <label for="password"><span>Password</span>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        </label>

        <div class="formline">
        <label for="first_name"><span>First Name</span></label>
        <input type="text" name="first_name" id="first_name" placeholder="First Name" required/>
        </div>

        <label for="last_name"><span>Last Name</span>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name" required/>
        </label>

        <label for="ssn"><span>SSN</span>
        <input type="text" name="ssn" id="ssn" placeholder="SSN" required/>
        </label>

        <label for="phone_number"><span>Phone Number</span>
        <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number" required/>
        </label>

        <label for="address"><span>Address</span>
        <input type="text" name="address" id="address" placeholder="Address" required/>
        </label>

        <div class="btn-block">
          <p>By clicking Register, you agree on our Privacy Policy for MyBank</a>.</p>
          <button type="submit" value="Register">Submit</button>
          <button type="reset">Reset</button>
        </div>
      </form>
        <div class="btn-block">
          <a href="/login">
              <button id="loginBtn" href="/login">Already Have Account?</button>
          </a>
        </div>
    </div>
{% endblock %}
