{% extends 'base.html' %}
{% block content %}
    <div class="formDiv login">
      <h1>Withdraw</h1>
      <form class="form-style-4" method="POST">
          <label for="withdraw_amount"><span>Withdraw Amount</span>
            <input type="text" name="withdraw_amount" id="withdraw_amount" placeholder="" required/>
          </label>
        <div class="btn-block">
          <button type="submit" value="Register">Submit</button>
        </div>
      </form>
    </div>
    <div class="command">
        <a href="{{ url_for('index')}}">Return</a>
    </div>
{% endblock %}
