
  .app-canvas > div > canvas {
    width: 100% !important;
    height: auto !important;
  }

  .test {
    block-size: fit-content !important;
  }

  canvas {
    width: auto;
    height: auto;
  }

  html {
    height: auto;
    width: auto;
  }

  body {
    width: auto;
    height: auto;
    /* margin: 0 !important; */
    display: contents !important;
  }
